@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5 pt-5">
    <h1 class="text-white">Bienvenido a nuestra plataforma de e-learning</h1>
    <p class="text-white">Aprende, crece y alcanza tus metas académicas con nuestros cursos en línea.</p>
    <a asp-action="Index" asp-controller="Course" class="btn btn-outline-primary btn-lg">Explora nuestros cursos</a>
</div>